h1 OBJ File Importer
form(method="post", action=url, enctype="multipart/form-data")
  fieldset
    label(for="stash_id") 
      b Stash id
    br
    input(type="text", name="stash_id", size="30", value="")
    br
    label(for="user_id") 
      b User id
    br
    input(type="text", name="user_id", size="30", value="")
    br
    label(for="file") 
      b File
    br
    input(type="file", name="file", size="40")
    br
    br
    input(type="submit", value="Import")
